.container{
    width: 70%;
    border: 1px solid black;
    margin: 40px auto;
    padding: 0;
}


.titulo{
    width: 100%;
    text-align: center;
    background-color: #103874;
    color: white;
    padding: 20px;
    text-transform: uppercase;
}